nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(225, 225, 225, 0.747);
    dt.logo {
        float: left;
        width: 120px;
        height: 100%;
        a {
            display: block;
        }
        img {
            height: 60px;
            margin-left: 30px;
        }
    }
    dd {
        float: left;
        a {
            display: block;
            height: 60px;
            padding: 0 20px;
            line-height: 60px;
            font-size: 13px;
            &:hover {
                background-color: rgba(255,255,255,0.5);
            }
        }
    }
}
.nav-menu {
    display: none;
}