extends layout

block content
    .w.content
        include rope.pug
        .list-wrap.clearfix
            .list-bole.bole
            .list-right
            .con-box
                .header
                    span.category 随笔
                    a.title 文章标题
                .body
                    a.cover
                        img(src="", alt="")
                    .digest
                        p 发阿达-水水 水水。水水水水水水水水水水水水发阿，达水水水水水水水水水水水水水水水水发阿达水水水水水水水水水水水水水水水水
                .footer
                    .time
                    .author
                    .review
        .list-wrap.clearfix
            .list-bole.bole
            .list-right
            .con-box
                .header
                    span.category 随笔
                    a.title 文章标题
                .body
                    a.cover
                        img(src="", alt="")
                    .digest
                        p 发阿达-水水 水水。水水水水水水水水水水水水发阿，达水水水水水水水水水水水水水水水水发阿达水水水水水水水水水水水水水水水水
                .footer
                    .time
                    .author
                    .review

                    