doctype html
<!DOCTYPE html>
html(lang="en")
    head(lang="zh-CN")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel='stylesheet', href=link('application.css'))
        script(src=script('vendors.js'))
        script(src=script('application.js'))
    body
    body
        include nav.pug
        block content
        include footer.pug