- var navs = [ { title:'首页', path:'javascript:;' }, { title:'随笔', path:'javascript:;' }, { title:'图片', path:'javascript:;' }, { title:'音乐', path:'javascript:;' }, { title:'游戏', path:'javascript:;' }, { title:'留言', path:'javascript:;' } ]
nav.visible-lg
    a.logo(href="#")
    ul.list
        - for (var x = 0; x < navs.length; x++)
            li
                a(href= navs[x].path)= navs[x].title
nav.visible-md.visible-sm
    a.logo(href="#")
    ul.list
        - for (var x = 0; x < navs.length; x++)
            li
                a(href= navs[x].path)= navs[x].title
nav.visible-xs
    a.logo(href="#")
    ul.list
        - for (var x = 0; x < navs.length; x++)
            li
                a(href= navs[x].path)= navs[x].title