@media only screen and (min-device-width: 1200px) {
    @import '../component/leave/leave-ls.scss';
    .w {
        width: 1200px;
        margin: 0 auto;
    }
    
    .nav {
        height: 88px;
        position: relative;
        ul {
            position: absolute;
            left: 50%;
            width: 584px;
            transform: translateX(-50%);
            li {
                float: left;
                margin: 20px 40px 0 0;
                a {
                    display: block;
                    height: 64px;
                    font-weight: 600;
                    font-size: 16px;
                    img {
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                    span {
                        color: #251d1d;
                    }
                }
                &.active {
                    a {
                        span {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .search {
            position: absolute;
            right: 10px;
            top: 30px;
            width: 170px;
            height: 25px;
            overflow: hidden;
            color: #fff;
            input {
                outline-style: none;
                border: none;
                background: transparent;
                font-size: 14px;
                transition: all 0.35s;
                transform: translateX(100%);
                color: #fff;
            }
            .search-line {
                height: 1px;
                margin-top: 5px;
                background-color: #fefefe;
                transform: translateX(100%);
                transition: all 0.35s;
            }
            &.toggle {
                .search-line,
                input {
                    transform: translateX(0);
                }
            }
        }
    }
    
    .header-bg {
        height: 728px;
        background: url($path+'/images/bg-top.png') no-repeat;
        background-size: 100% auto;
        position: relative;
        overflow: hidden;
        &::before,
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 20px;
            height: 692px;
            background: #7cccfd;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            filter: blur(5px);
            overflow: hidden;
        }
        &::before {
            left: -10px;
        }
        &::after {
            right: -10px;
        }
        .logo {
            position: absolute;
            left: 320px;
            top: 170px;
            width: 220px;
            height: 80px;
            background: url($path+'/images/logo.png') no-repeat;
            // cursor: pointer;
        }
    }
    
    .rope {
        position: absolute;
        right: 215px;
        top: -606px;
        width: 4px;
        height: 200px;
        background: url($path+'/images/rope.png') repeat-y;
        transition: all 0.5s;
        z-index: 99;
        .top {
            position: absolute;
            bottom: -130px;
            left: 50%;
            transform: translateX(-45%);
            width: 80px;
            height: 132px;
            background: url($path+'/images/top.png') no-repeat;
            cursor: pointer;
            display: block;
        }
    }
    
    .bole {
        position: absolute;
        right: 438.1px;
        top: 0px;
        width: 51px;
        background: url($path+'/images/bole.png') no-repeat;
        background-size: 51px 100%;
    }
    
    .content {
        position: relative;
        .list-wrap {
            position: relative;
        }
        .list-left {
            position: relative;
            float: left;
            width: 740px; // height: 300px;
            padding-bottom: 80px;
            background: url($path+'/images/left.png') no-repeat right bottom;
            z-index: 5;
        }
        .list-right {
            position: absolute;
            right: 1px;
            top: 0;
            width: 460px; // height: 100px;
            padding-bottom: 64px;
            background: url($path+'/images/right.png') no-repeat left bottom;
        }
        .list-bole {
            min-height: 100px;
        }
        .con-box {
            position: relative;
            width: 990px;
            padding-left: 210px;
            padding-bottom: 120px;
            background: url($path+'/images/bg-con.png') no-repeat bottom left;
            &::before,
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 20px;
                height: 250px;
                background: #7cccfd;
                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                filter: blur(5px);
                overflow: hidden;
            }
            &::before {
                left: -10px;
            }
            &::after {
                right: -10px;
            }
        }
    }
    .footer {
        height: 604px;
        background: url($path+'/images/bg-btm.png') no-repeat;
        color: #fff;
        position: relative;
        overflow: hidden;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 604px;
            background: #7cccfd;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            filter: blur(5px);
            overflow: hidden;
        }
        &::before {
            left: -10px;
        }
        &::after {
            right: -10px;
        }
        .text {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
        .clock {
            position: absolute;
            left: 395px;
            top: 252px;
            width: 26px;
            height: 26px;
            .hour {
                position: absolute;
                left: 0;
                top: 0;
                width: 26px;
                height: 26px;
                background: url($path+'/images/hour-pointer.png') no-repeat;
            }
            .minute {
                position: absolute;
                left: 0;
                top: 0;
                width: 26px;
                height: 26px;
                background: url($path+'/images/minute-pointer.png') no-repeat;
            }
        }
    }
}