@mixin px($name, $px) {
    #{$name}: round($px / 2) * 1px;
    [data-dpr="2"] & {
        #{$name}: $px * 1px;
    } // for mx3
    [data-dpr="2.5"] & {
        #{$name}: round($px * 2.5 / 2) * 1px;
    } // for 小米note
    [data-dpr="2.625"] & {
        #{$name}: round($px * 2.625 / 2) * 1px;
    } // for 小米note
    [data-dpr="2.75"] & {
        #{$name}: round($px * 2.75 / 2) * 1px;
    }
    [data-dpr="3"] & {
        #{$name}: round($px / 2 * 3) * 1px;
    }
    [data-dpr="3.5"] & {
        #{$name}: round($px / 2 * 3.5) * 1px;
    } // for 三星note4
    [data-dpr="4"] & {
        #{$name}: $px * 2px;
    }
}

@media only screen and (max-device-width: 770px) {
    @import '../component/leave/leave-ss.scss';
    html,
    body {
        height: 100%;
    }
    html {
        overflow: hidden;
    }
    body {
        transition: transform 0.75s;
    }
    .wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        display: none;
    }
    .nav {
        position: absolute;
        left: 0;
        top: 0;
        width: 8rem;
        height: 100%;
        background-color: #d6d6d6;
        transform: translateX(-100%);
        transition: all 0.75s;
        overflow: hidden;
        ul {
            @include px(margin-top, 220);
            li {
                transform: translate(-100%);
                a {
                    display: block;
                    @include px(margin-bottom, 15);
                    @include px(padding-left, 40);
                    @include px(padding-top, 10);
                    @include px(padding-bottom, 10);
                    img {
                        @include px(width, 64);
                        @include px(height, 64);
                        vertical-align: middle;
                    }
                    span {
                        color: #251d1d;
                        @include px(margin-left, 30);
                        @include px(font-size, 30);
                    }
                }
                &.active {
                    a {
                        background-color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
        .logo {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            @include px(margin-top, 30);
            @include px(width, 160);
            @include px(height, 160); // width: 8rem;
            // height: 6rem;
            background: url($path+'/images/logo-ss.png') no-repeat;
            background-size: cover;
        }
        .search {
            width: 8rem;
            overflow: hidden;
            color: #fff;
            position: relative;
            input {
                outline-style: none;
                border: none;
                background: transparent;
                width: 8rem;
                @include px(height, 60);
                @include px(padding-left, 10);
                @include px(font-size, 30);
                transition: all 0.35s;
                transform: translateX(100%);
                color: #fff;
                box-sizing: border-box;
            }
            .search-icon {
                position: absolute;
                @include px(right, 10);
                @include px(font-size, 30);
                top: 25%;
                color: #fff;
            }
            .search-line {
                height: 1px;
                background-color: #fefefe;
                transform: translateX(100%);
                transition: all 0.35s;
            }
            &.toggle {
                .search-line,
                input {
                    transform: translateX(0);
                }
            }
        }
    }
    .rope {
        .top {
            position: fixed;
            @include px(right, 30);
            @include px(bottom, 30);
            @include px(width, 80);
            @include px(height, 97);
            background: url($path+'/images/top-ms.png') no-repeat;
            z-index: 9;
            display: none;
        }
    }
    .content {
        height: 100%;
        overflow: auto;
        .con-box {
            .list-article {
                @include px(margin-top, 20);
                @include px(margin-bottom, 20);
                @include px(padding-bottom, 10);
                border-bottom: 1px solid #fff;
            }
            @include px(padding, 12);
            @include px(margin-bottom, 20);
            background-color: rgba(255, 255, 255, 0.1);
            .article-header {
                @include px(height, 60);
                @include px(margin-bottom, 20);
                .category {
                    display: inline-block;
                    @include px(height, 50);
                    @include px(padding-left, 20);
                    @include px(padding-right, 20);
                    @include px(margin-left, 20);
                    @include px(margin-top, -10);
                    @include px(font-size, 30);
                    @include px(line-height, 50);
                    @include px(border-radius, 6);
                    position: relative;
                    background-color: #ff3333ad;
                    color: #fff;
                    vertical-align: middle;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        @include px(right, -20);
                        @include px(margin-top, -10);
                        border: 10px solid transparent;
                        @include px(border-width, 10);
                        border-left-color: #ff3333ad;
                    }
                }
                .title {
                    display: inline-block;
                    @include px(max-width, 540);
                    @include px(height, 60);
                    @include px(margin-left, 30);
                    @include px(font-size, 35);
                    @include px(line-height, 60);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #fff;
                }
            }
            .article-body {
                @include px(height, 120);
                .cover {
                    float: left;
                    @include px(width, 180);
                    @include px(height, 120);
                    @include px(margin-left, 20);
                    overflow: hidden;
                    position: relative;
                    img {
                        position: absolute;
                        left: -25%;
                        top: -25%;
                        max-width: 200%;
                        max-height: 200%;
                    }
                }
                .digest {
                    float: left;
                    @include px(width, 460);
                    @include px(height, 100);
                    @include px(margin-left, 30);
                    @include px(padding, 10);
                    p {
                        @include px(height, 100);
                        @include px(font-size, 30);
                        @include px(line-height, 33);
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        color: #767676;
                    }
                }
            }
        }
    }
    .article-con {
        .con-box {
            @include px(padding, 30);
            .title {
                @include px(margin-top, 20);
                @include px(margin-bottom, 20);
                @include px(font-size, 22);
            }
            span {
                @include px(font-size, 12);
                color: #888;
                &.icono-user {
                    transform: scale(0.8);
                }
                &.author {
                    @include px(margin-right, 20);
                }
            }
            .con {
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    @include px(margin-top, 20);
                    @include px(margin-bottom, 20);
                }
                h1 {
                    @include px(font-size, 28);
                }
                h2 {
                    @include px(font-size, 24);
                }
                h3 {
                    @include px(font-size, 20);
                }
                h4 {
                    @include px(font-size, 18);
                }
                h5 {
                    @include px(font-size, 16);
                }
                h6 {
                    @include px(font-size, 14);
                }
                ul {
                    li {
                        @include px(font-size, 12);
                    }
                }
                a {
                    text-decoration: underline;
                }
                p {
                    @include px(font-size, 15);
                    @include px(line-height, 45);
                    @include px(margin-top, 10);
                    @include px(margin-bottom, 10);
                    text-indent: 2em;
                }
                img {
                    display: block;
                    width: 100%;
                    @include px(margin-top, 20);
                    @include px(margin-bottom, 20);
                }
            }
            .list-title {
                @include px(font-size, 24);
                @include px(margin-bottom, 30);
                font-weight: 400;
                color: #f5f5f5;
                position: relative;
                &::before {
                    position: absolute;
                    @include px(top, -12);
                    @include px(left, 2);
                    content: '';
                    @include px(width, 138);
                    @include px(height, 5);
                    background-color: #fff;
                }
            }
            .other-article {
                @include px(margin-top, 50);
                @include px(margin-bottom, 50);
                .articles {
                    @include px(margin-bottom, 20);
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        @include px(margin-left, 20);
                        @include px(margin-right, 20);
                        @include px(width, 10);
                        @include px(height, 45);
                        background-color: #ccc;
                    }
                    a {
                        @include px(font-size, 20);
                        color: #333;
                        text-decoration: underline;
                    }
                }
            }
            .review-list {
                @include px(margin-top, 50);
                @include px(margin-bottom, 50);
                .none {
                    @include px(margin-left, 25);
                    @include px(font-size, 15);
                }
                .reviews {
                    @include px(margin-bottom, 20);
                    border: 1px dashed #ccc;
                    .name {
                        span {
                            @include px(font-size, 18);
                            color: #333;
                            &:first-child {
                                @include px(margin-bottom, 10);
                            }
                            a {
                                text-decoration: underline;
                            }
                        }
                    }
                    .say {
                        p {
                            @include px(margin-left, 12);
                            @include px(margin-top, 15);
                        }
                    }
                }
            }
            .add-review {
                @include px(margin-top, 30);
                input,
                textarea {
                    display: block;
                    width: 100%;
                    @include px(padding, 5);
                    @include px(margin-bottom, 25);
                    background-color: transparent;
                    border: none;
                    outline-style: none;
                    @include px(font-size, 30);
                    font-family: 'Microsoft Yahei';
                    color: #fff;
                }
                input {
                    border-bottom: 1px solid #fff;
                }
                textarea {
                    border: 1px solid #fff;
                }
                .submit {
                    float: right;
                    @include px(width, 160);
                    @include px(height, 60);
                    @include px(margin-bottom, 20);
                    cursor: pointer;
                    border-radius: 6px;
                    box-shadow: 1px 1px 3px 0px #fff, -1px -1px 3px 0px #fff;
                    text-align: center;
                    @include px(line-height, 60);
                    @include px(font-size, 28);
                    color: #fff;
                }
            }
        }
    }
    .footer {
        position: absolute;
        width: 8rem;
        left: -8rem;
        @include px(bottom, 20);
        @include px(font-size, 17);
        text-align: center;
    }
}