$path: 'http://127.0.0.1:3000';
.leave-box {
    @include px(width, 490);
    margin: 0 auto;
    .title {
        @include px(width, 480);
        @include px(height, 160);
        margin: 0 auto;
        background: url($path+'/images/leave.png') no-repeat;
        background-size: cover;
    }
    input,
    textarea {
        display: block;
        @include px(width, 480);
        @include px(padding, 5);
        @include px(margin-bottom, 25);
        background-color: transparent;
        border: none;
        outline-style: none;
        @include px(font-size, 30);
        font-family: 'Microsoft Yahei';
        color: #fff;
    }
    input {
        border-bottom: 1px solid #fff;
    }
    textarea {
        border: 1px solid #fff;
    }
    .submit {
        float: right;
        @include px(width, 160);
        @include px(height, 60);
        @include px(margin-bottom, 20);
        background: url($path+'/images/submit.png') no-repeat;
        background-size: cover;
        cursor: pointer;
        border-radius: 6px;
        box-shadow: 1px 1px 3px 0px #fff,-1px -1px 3px 0px #fff;
    }
}
